.menu {
  @apply inline-flex flex-wrap gap-3;
}

.link {
  @apply flex items-center justify-center gap-2 rounded-md border-[1px] border-neutral-200 px-3 py-1.5 align-middle font-light;
}

.link.active {
  @apply bg-neutral-100 text-neutral-900 outline-none transition-colors duration-200;
}

.link.active .arrow {
  transform: rotateX(180deg);
}

.link:hover,
.link:focus-visible,
.link:focus-within {
  @apply bg-neutral-100 text-neutral-900 outline-none transition-colors duration-200;
}

.arrow {
  @apply origin-center transition-transform duration-200;
}

.link:hover .arrow,
.link:focus-visible .arrow,
.link:focus-within .arrow {
  transform: rotateX(180deg);
}

.wrapper {
  @apply absolute max-h-0 overflow-hidden pt-2 transition-[max-height] duration-200;
  z-index: 1000;
}

.content {
  @apply grid rounded-md border-[1px] border-neutral-200 bg-neutral-950 py-1.5 text-neutral-200;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
}

.subitem {
  @apply flex px-6 py-1.5 text-xs font-light;
}

.sublink:hover,
.sublink:focus-visible,
.sublink:focus-within {
  @apply underline outline-none;
}
