.nav {
  @apply mx-3 mt-3 h-[40px] rounded-t-md border-neutral-50 bg-green-700 font-inter;
}

.menu {
  @apply flex h-full text-sm;
}

.item {
  @apply border-r-2 border-neutral-50 bg-green-700 text-neutral-50;
}

.item:first-child {
  @apply rounded-tl-md;
}

.item.active {
  @apply bg-neutral-50 text-green-700;
}

.link {
  @apply inline-flex h-full w-full items-center justify-center gap-1.5 px-4 align-middle transition-colors duration-300;
}

.link.active {
  @apply outline-none transition-colors duration-300;
}

.link.active .arrow {
  transform: rotateX(180deg);
}

.item:hover,
.item:focus-visible,
.item:focus-within {
  @apply bg-neutral-50 text-green-700 outline-none transition-colors duration-300;
}

.arrow {
  @apply origin-center transition-transform duration-500;
}

.link:hover .arrow,
.link:focus-visible .arrow,
.link:focus-within .arrow {
  transform: rotateX(180deg);
}

.wrapper {
  @apply absolute -ml-[1.5px] max-h-0 animate-fadeIn pt-2 font-inter drop-shadow-lg duration-500;
  z-index: 1000;
}

.content {
  @apply grid gap-3 rounded-md border-2 border-neutral-50 bg-green-700 p-3 text-neutral-200;
}

.content:has(.subitem:nth-child(1)) {
  grid-template-columns: repeat(1, 1fr);
}

.content:has(.subitem:nth-child(2)) {
  grid-template-columns: repeat(2, 1fr);
}

.content:has(.subitem:nth-child(4)) {
  grid-template-columns: repeat(3, auto);
}

.subitem {
  @apply text-wrap rounded-md border-[1px] border-neutral-50 text-xs transition-colors duration-200;
}

.sublink {
  @apply flex flex-col items-center justify-center gap-1 p-2 text-center;
}

.subitem:hover,
.subitem:focus-visible,
.subitem:focus-within {
  @apply border-neutral-50 bg-neutral-50 text-green-700;
}

.subitem:hover .sublink,
.subitem:focus-visible .sublink,
.subitem:focus-within .sublink {
  @apply outline-none;
}
