.nav {
  @apply h-[36px] text-nowrap border-white font-ibm-plex font-normal;
}

.menu {
  @apply flex h-full rounded-tl-lg rounded-tr-sm bg-green-700 text-sm;
}

.item {
  @apply border-r-2 border-white bg-green-700 text-white;
}

.item:first-child {
  @apply rounded-tl-sm;
}

/* .item.active {
  @apply bg-white text-green-700;
} */

.link {
  @apply inline-flex h-full w-full items-center justify-center gap-1.5 text-nowrap px-4 align-middle transition-colors duration-300;
}

.link.active {
  @apply outline-none transition-colors duration-300;
}

.link.active .arrow {
  transform: rotateX(180deg);
}

.item:hover,
.item:focus-visible,
.item:focus-within {
  @apply bg-white text-green-700 outline-none transition-colors duration-300;
}

.arrow {
  @apply origin-center transition-transform duration-500;
}

.link:hover .arrow,
.link:focus-visible .arrow,
.link:focus-within .arrow {
  transform: rotateX(180deg);
}

.wrapper {
  @apply absolute max-h-0 animate-fadeIn pt-1.5 font-inter drop-shadow-lg duration-500;
  z-index: 1000;
}

.content {
  @apply grid gap-3 rounded-sm border-2 border-white bg-green-700 p-3 text-white;
}

.content:has(.subitem:nth-child(1)) {
  grid-template-columns: repeat(1, 1fr);
}

.content:has(.subitem:nth-child(2)) {
  grid-template-columns: repeat(2, 1fr);
}

.content:has(.subitem:nth-child(4)) {
  grid-template-columns: repeat(3, auto);
}

.subitem {
  @apply text-wrap rounded-md border-[1px] border-white text-xs transition-colors duration-200;
}

.sublink {
  @apply flex flex-col items-center justify-center gap-1 p-2 text-center;
}

.subitem:hover,
.subitem:focus-visible,
.subitem:focus-within {
  @apply border-white bg-white text-green-700;
}

.subitem:hover .sublink,
.subitem:focus-visible .sublink,
.subitem:focus-within .sublink {
  @apply outline-none;
}
